<!-- edit-table.html -->
<div class="m-6">
    <div class="flex justify-between">
        <h1 class="py-2">Edit Employee</h1>
        <button mat-button (click)="closeModal()" class="bg-red-500 hover:bg-red-600 rounded-xl outline-none text-white p-2">Close</button>
    </div>
    <form class="mt-2 flex flex-wrap gap-12">
        <span class="flex flex-col mb-2">Name 
            <input required [(ngModel)]="editedData.name" name="editedData.name" class="bg-gray-100 w-40 text-sm text-gray-700 rounded-xl outline-none p-2" type="text" placeholder="Name">
        </span>
        <span class="flex flex-col mb-2">Lastname
            <input required [(ngModel)]="editedData.lastname" name="editedData.lastname" class="bg-gray-100 w-40 text-sm text-gray-700 rounded-xl outline-none p-2" type="text" placeholder="Lastname">
        </span>
        <span class="flex flex-col mb-2">Nickname
            <input required [(ngModel)]="editedData.nickname" name="editedData.nickname" class="bg-gray-100 w-40 text-sm text-gray-700 rounded-xl outline-none p-2" type="text" placeholder="Nickname">
        </span>
        <span class="flex flex-col mb-2">Gender
            <div class="flex gap-2 ">
                <input  required [(ngModel)]="editedData.gender" type="radio" id="male" name="editedData.gender" value="male" checked />
                <label for="male">Male</label>
                <input  required [(ngModel)]="editedData.gender" type="radio" id="female" name="editedData.gender" value="female" />
                <label for="female">Female</label>
            </div>
        </span>
        <div class="mb-2 flex gap-2 w-72">
            <span class="flex-col flex gap-2">Age
                <input required  class="outline-none" type="date" name="editedData.dateOfBirth" [(ngModel)]="dateOfBirth" (change)="calculateAge()">
                <p class="py-2 bg-gray-100 rounded-xl px-2 w-12"> {{ age }} </p>
            </span>
        </div>
        
        <div class="flex flex-col w-full mb-2">
            <span>Skills</span>
            <div class="flex">
                <input type="text" [(ngModel)]="newSkill" name="newSkill" class="overflow-auto bg-gray-100 p-2 outline-none text-gray-700 text-sm rounded-xl" placeholder="Enter a skill">
                <button (click)="addSkill()" type="button" class="ml-2 bg-blue-500 outline-none hover:bg-blue-600 text-white px-4 py-2 rounded-full">Add skill</button>
            </div>
            <div class="flex flex-wrap mt-2">
                <span *ngFor="let skill of skillsList" class="bg-gray-200 px-2 py-1 rounded-lg mr-2 mb-2">{{ skill }} 
                    <span *ngIf="skillsList.length > 1" (click)="deleteSkill(skill)" class="cursor-pointer ml-1">&times;</span>
                </span>
            </div>
        </div>

        <div class="flex justify-end">
            <button mat-button (click)="saveModal()" class="bg-green-500 hover:bg-green-600 rounded-xl outline-none text-white p-2">Save</button>
        </div>
    </form>
</div>
