<nav class="shadow h-16 sticky top-0 flex justify-between  ">
    <div class="p-5">
        <h1 class="text-xl font-bold">Dashboard</h1>
    </div>
    <div>
        <ul class="flex gap-2 ">
            
            <li class="p-3">
                <button (click)="logout()" class="bg-red-500 cursor-pointer p-2 outline-none hover:shadow rounded-full hover:bg-red-600 text-white text-sm font-bold">
                    Logout
                </button>
            </li>
        </ul>
        
    </div>
</nav>
