
<!-- table.html -->
<div class=" p-32">
    <div class="  p-4 min-w-fit flex justify-between shadow">
        <h1 class="w-fit text-lg font-bold">Employee Management</h1>
        <button (click)="isOpen()" class="bg-green-500 text-white font-bold hover:bg-green-600 p-2 rounded-full outline-none w-20">
          ADD</button>
    </div>
    <div class=" rounded-lg outline-none shadow ">
        <table class="table-auto w-full ">
            <thead class="bg-gray-200">
              <tr >
                <th class="text-center w-8 p-2 text-base">Id</th>
                <th class="text-start w-16 p-2 text-base">Name</th>
                <th class="text-start w-16 p-2 text-base">Lastname</th>
                <th class="text-start w-16 p-2 text-base">Nickname</th>
                <th class="text-center w-8  p-2 text-base">Gender</th>
                <th class="text-center w-8  p-2 text-base">Age</th>
                <th class="text-start w-28  p-2 text-base ">Skills</th>
                <th class="w-10 p-2 text-base"></th>
                
              </tr>
            </thead>
            <tbody class="bg-white ">
              
              <tr *ngFor="let record of tableData; let i = index" [class.bg-green-200]="isRowActive(i)">
                <th class="text-center text-gray-600 w-8 p-2 text-sm"> {{record.id}}</th>
                <th class="text-start text-gray-600 w-16 p-2 text-sm"> {{record.name}}</th>
                <th class="text-start text-gray-600 w-16 p-2 text-sm"> {{record.lastname}} </th>
                <th class="text-start text-gray-600 w-16 p-2 text-sm"> {{record.nickname}} </th>
                <th class="text-center text-gray-600 p-2 w-8 text-sm"> {{record.gender}} </th>
                <th class="text-center text-gray-600 p-2 w-8 text-sm"> {{record.age}} </th>
                <th class="text-start text-gray-600 w-28 p-2 text-sm overflow-auto max-w-32"> {{record.skillsList}} </th>
                <th class="flex gap-4 justify-end w-auto p-2">
                  <p>
                    <mat-slide-toggle class="w-24" [checked]="isRowActive(i)" (change)="toggle(i, $event.checked)">
                      {{ isRowActive(i) ? 'Active' : 'Inactive' }}
                    </mat-slide-toggle>                    
                    </p>
                    <button (click)="isEdit(record)" class="py-1 px-2 text-white rounded-lg border-black hover:bg-blue-600 bg-blue-500">edit</button>
                    <button *ngIf="tableData.length > 1" (click)="delete(record)" class="py-1 px-2 text-white rounded-lg bg-red-500 hover:bg-red-600 border-black">delete</button>
                </th>
              </tr>
            </tbody>
            
          </table>
    </div>
</div>