
<!-- table.html -->
<div class=" p-32">
    <div class="  p-4 w-full flex justify-between shadow">
        <h1 class="w-fit text-lg font-bold">Employee Management</h1>
       
    </div>
    <div class=" rounded-lg outline-none shadow ">
        <table class="table-auto w-full">
            <thead class="bg-gray-200">
              <tr >
                <th class="text-center w-8 p-2 text-base">Id</th>
                <th class="text-start w-16 p-2 text-base">Name</th>
                <th class="text-start w-16 p-2 text-base">Lastname</th>
                <th class="text-start w-16 p-2 text-base">Nickname</th>
                <th class="text-center w-8  p-2 text-base">Gender</th>
                <th class="text-center w-8  p-2 text-base">Age</th>
                <th class="text-start w-28  p-2 text-base ">Skills</th>
                <th class="w-10 p-2 text-base">Status</th>
                
              </tr>
            </thead>
            <tbody class="bg-white ">
              <tr  [class.bg-green-200]="isActive">
                <th class="text-center text-gray-600 w-8 p-2 text-sm">1</th>
                <th class="text-start text-gray-600 w-16 p-2 text-sm">Kottaboung</th>
                <th class="text-start text-gray-600 w-16 p-2 text-sm">Nanvong</th>
                <th class="text-start text-gray-600 w-16 p-2 text-sm">Main</th>
                <th class="text-center text-gray-600 p-2 w-8 text-sm">male</th>
                <th class="text-center text-gray-600 p-2 w-8 text-sm">21</th>
                <th class="text-start text-gray-600 w-28 p-2 text-sm overflow-x-auto max-w-32">Angular</th>
                <th class="flex justify-around p-2">
                   <p class="text-center text-gray-600 text-sm"> {{isActive ? 'Acitive' : 'Inactive'}} </p>
                </th>
              </tr>
              <tr *ngFor="let record of tableData; let i = index" [class.bg-green-200]="activeRows.includes(i)">
                <th class="text-center text-gray-600 w-8 p-2 text-sm">{{ record.id }}</th>
                <th class="text-start text-gray-600 w-16 p-2 text-sm">{{ record.name }}</th>
                <th class="text-start text-gray-600 w-16 p-2 text-sm">{{ record.lastname }}</th>
                <th class="text-start text-gray-600 w-16 p-2 text-sm">{{ record.nickname }}</th>
                <th class="text-center text-gray-600 p-2 w-8 text-sm">{{ record.gender }}</th>
                <th class="text-center text-gray-600 p-2 w-8 text-sm">{{ record.age }}</th>
                <th class="text-start text-gray-600 w-28 p-2 text-sm overflow-auto max-w-32">{{ record.skills }}</th>
                <th class="flex justify-around p-2">
                  <p class="text-center text-gray-600 text-sm">{{ activeRows.includes(i) ? 'Active' : 'Inactive' }}</p>
                </th>
              </tr>
              
            </tbody>
            
          </table>
    </div>
</div>